.site-logo__link {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.site-logo__image {
    height: auto;
    width: 8rem;
}

@media screen and (min-width: 68em) {

    .site-logo__image {
        width: 11.25rem;
    }

}